<h2>Movie name: {{foundMovie.title}}</h2>
<p>Genre: {{foundMovie.genre}}</p>
<p>Plot: {{foundMovie.plot}}</p>

{{#each foundMovie.cast}}
  <p>Name: {{this.name}}</p>
  <p>Occupation: {{this.occupation}}</p>
  <p>Phrase: {{this.catchPhrase}}</p>
{{/each}}

<a href="/movies/{{foundMovie.id}}/edit">Edit</a> 

<form action="/movies/{{foundMovie.id}}/delete" method="POST">
    <button>Delete</button>
</form>

